@font-face{
  font-family: 'code';
src: url('fonts/CODE Bold.otf');
}

@font-face{
font-family: 'cabin';
src: url('fonts/Cabin-Regular.ttf');
}

@font-face{
font-family: 'fira';
src: url('fonts/FiraSans-Bold.ttf');
}

@font-face{
font-family: 'robotoslab';
src: url('fonts/RobotoSlab-Bold.ttf');
}

@font-face{
font-family: 'patua';
src: url('fonts/PatuaOne-Regular.ttf');
}

@font-face{
font-family: 'heebo';
src: url('fonts/Heebo-Bold.ttf');
}

@font-face{
font-family: 'worksans';
src: url('fonts/WorkSans-Regular.ttf');
}
