/*Registro Notas/Estudiantes*/


.form_student{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5,80px);
  text-align: center;
}

  .form_student select{
    width: 400px;
    height: 40px;
  }

    .form_student label{
      font:19px 'roboto';
      margin-top:11px;
   }

      .reg-student{
       width: 67%;
       padding-right: 12%;
       height: 45%;
       font-size: 20px;
     }







/*Registro de Usuarios*/
.form-reg {
    margin-top: -25px;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1em;

}

    .form-reg input[type="text"]:required{
    background-color: rgba(255,255,255,0.0);
    margin-top: 50px;
    height: 25px;
    font-size: 16px;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #231f1f;
    outline: none;
    box-shadow: none;
    transition: all 0.5s;
}

      .form-reg input[type="text"]:focus {
       transition: all 0.5s;
   }















/*botones*/
.buttons{
position: relative;
margin-left: auto;
margin-right:auto;
display: table;
}


  #boton-confirmar,#boton-regresar{
    color:#F4F4F4FF;
    border-style: none;
    padding: 10px 44px;
    cursor: pointer;
    transition: 0.5s;
    text-shadow: 0px 1px 2px black;
    background-color: #00D074FF;
    margin:20px 20px;
  }


    #boton-confirmar:hover{
      background-color:#00EA69FF;
      border-color: #0AFF90FF;
      transition: 1s;
    }


      #boton-confirmar:active{
       text-shadow: none;
       transition: 0.1s;
    }


#boton-regresar{
   background-color: #FE4C4CFF;
    padding: 10px 37px;

}


  #boton-regresar:hover{
    background-color:#FE565FFF;
    border-color:#FE565FFF;
    transition: 1s;

  }


    #boton-regresar:active{
     background-color: #FF4753FF;
     text-shadow: none;
     transition: 0.1s;
    }
