@import url('fonts.css');
/*Zona input Index*/
#cedula,#password:required{
  border:none;
  padding: 1rem;
  margin: 1rem 0;
  border-bottom: solid black 0.1rem;
  width: 77%;
  padding-right: 18.3%;
  font-size: 20px;
  outline: 0px;
}

#cedula:required:valid{
  border-bottom: solid #60FF83FF 0.1rem;
}



#cedula:focus:required:invalid{
  border-bottom: solid red 0.1rem;
}

/*Zona Input Registro*/
#grid-form-register{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5,90px);
}

#formulario{
  position: relative;
  text-align: center;
margin-left: 0%;
}

#tformulario{
  font:19px 'robotoslab';
}

.caja-contenedor{
  background-color: white;
  margin:auto;
  padding-top: 20px;
  max-width:450px;
  padding-bottom: 1rem;
 box-shadow: 0px 1px 10px #E0E0E0FF;
}


.titulo-ingreso{
  text-align: center;
  font:30px 'code';
}


.form-login{
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*Zona de input*/

.reg-input{
  width: 70%;
  padding-right: 24%;
  height: 45%;
  font-size: 20px;
  margin-top:9px;
}



.reg-input:required{
  border-color: black;
  border-style:solid;
}

.reg-input:required:valid{
  border-color: #60FF83FF;
  border-style:solid;
  background-image: url('icons/pass.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 12%;
}


.reg-input:focus:required:invalid{
  border-color: red;
  border-style:solid;
  background-image: url('icons/nopass.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 12%;
}

.btn-formulario{
  display: grid;
  grid-template-columns: repeat(2,50%);
  justify-content: center;
  justify-content: space-around;

}
/*Raton al pasar por el boton "Confirmar"*/

#boton-confirmar{
  font:18px 'cabin';
  color:#F4F4F4FF;
  border-style: none;
  padding: 10px 44px;
  cursor: pointer;
  transition: 0.5s;
  text-shadow: 0px 1px 2px black;
  background-color: #00D074FF;
}


#boton-confirmar:hover{
  background-color:#00EA69FF;
  border-color: #0AFF90FF;
  transition: 1s;
}

#boton-confirmar:active{
  text-shadow: none;
  transition: 0.1s;
}

/*Raton al pasar por el boton "Regresar"*/
#boton-regresar{
  font:18px 'cabin';
  border-style: none;
  color:#F4F4F4FF;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.5s;
   background-color: #FE4C4CFF;
   text-shadow: 0px 1px 2px black;
}

#boton-regresar:hover{
  background-color:#FE565FFF;
  border-color:#FE565FFF;
  transition: 1s;

}

#boton-regresar:active{
  background-color: #FF4753FF;
  text-shadow: none;
  transition: 0.1s;
}


.mostrarpassword{
  position: absolute;
  margin-left: 340px;
  width: 40px;
  cursor: pointer;
}

/*Barra de busqueda*/
.barra{
  text-align: center;
   margin-left:auto;
  margin-right:auto;
  display: block;


}

.barra-busqueda{
  width: 40%;
  padding: 4px 25px;
  font-size: 16px;
  border:none;
  outline: none;
  box-shadow: 0px 0px 1px 0px black;
  background-image: url(icons/search-solid.svg);
  background-size: 15px;
  background-position:3px;
  background-repeat: no-repeat;

}

.boton-buscar{
  font-size: 16px;
  cursor: pointer;
}

.barra-busqueda-options,.boton-buscar{
height: 28px;
outline: none;
}

@media(min-width: 760px){

  .btn-formulario{
  display: grid;
  grid-template-columns: repeat(2,30%);
  }

  .reg-input:focus:required:invalid{
    background-size: 6%;
  }

  .reg-input:required:valid{
  background-size: 6%;
}


}



.input-aux-text{
  margin-top:0px;
   height: 40%;
    font-size: 20px;
    width: 99.8%;
    justify-content: center;
}


