@import url('fonts.css');
@import url('formulario.css');
@import url('subirvernotas.css');
body{
 background-color: #f3f3f3;
margin:0;
}
/*Animacion de Carga*/
#contenedor-carga{
  margin:0;
  background-color: #FFFFAFFF;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  transition: all 1s ease;
}

#carga{

  border-top-color: white;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  margin:auto;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-name: girar;
  animation-direction: linear;
}
#carga2{

  border-top-color: black;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  right:0;
  bottom: 0;
  margin:auto;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-name: girar-izquierda;
  animation-direction: linear;
}

@keyframes girar{
  from{
    transform:rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}


@keyframes girar-izquierda{
  from{
    transform:rotate(360deg);
  }

  to{
    transform: rotate(-180deg);
  }
}







/*Index*/


.titulo{
  text-align: center;
  color:#111111FF;
  font:40px 'impact';
}
#banner img{
  position: absolute;
  width: 80px;
  border-radius: 45%;
  margin-right: 2px;
}
#pizarra{
text-align: center;
}

#titulo-tabla{
  font:30px 'fira';
}

#texto{
  font:16px 'cabin';
  text-align: center;
}

#tablero{
display: inline-block;
border-style:solid;
color: black;
margin: 30px 50px;
background-color: white;
text-align: center;
transform: translateY(0%);
transition: all 1.5s;
text-decoration: none;
}

#tablero:hover{
background-color: #FEC156FF;
transform: translateY(-10%);
transition: all 1.2s;
}

#tablero:active{
  background-color:#FF7583FF;
  transition: all 0s;
}

#enlaces{
  text-decoration: none;
}
/*Auxiliar padding tableros*/
.aux-tablero{
   padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.aux-tablero-usuario{
  padding-left: 20px;
  padding-right: 20px;
}
.aux-tablero-usuarios{
  padding-top: 3px;
   padding-left: 22px;
  padding-right: 22px
}
.aux-tablero-caja{
   padding-top: 21px;
  padding-left: 60px;
  padding-right: 60px;
}

.aux-tablero-admin{
  padding-left: 40px;
  padding-right: 40px;
}

/*Icons tabla*/

.icons{
  width: 150px;
  height: 100px;
}

/*Zona de Registro*/
#titulo-registro{
text-align:center;
font: 40px 'impact';
text-decoration: underline;
}

/*Registro de Notas*/
#titulo-inferior{
  text-align: center;
  color: black;
}

/*Barra de Navegacion*/
#icon-casilla{
  width: 30px;
  margin-left: 2px;
  position: relative;
  float: left;
}

label{
  cursor: pointer;
}

#recuadro{
margin-top: -70px;
text-align:center;
display: inline-grid;
background-color: black;
visibility: collapse;
padding: 20px 20px;
transform: translateX(-120%);
transition: all 1s;
position: absolute;
z-index: 1;
}

#casilla:checked ~ #recuadro{
visibility: visible;
transform: translateX(0%);
transition: all 0.5s;
}



#letrasnav{
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  font:16px 'robotoslab';
}

#letrasnav:hover{
  background-color: #4FC2EDFF;
  transition: all 0.4s;
  text-shadow: 1px 1px 3px black;
}

#letrasnav:active{
  background-color: #FF000FFF;
  transition: all 0.1s;
  text-shadow: none;
}

#door{
  width: 30px;
  position: absolute;
  background-color: white;
  margin-top: -2px;
  float: left;
  margin-left: -50px;
}





/*Seccion Primaria-Bachillerato Seleccion*/
#primaria-principal{
display: inline-block;
margin-top: 50px;
text-align: center;
font:20px 'acme';
transform: translateY(0%);
transition: 0.5s;
text-decoration:none;
}

#primaria-principal:hover{
  background-color: black;
transform: translateY(-10%);
transition: all 0.6s;
}

#seleccion-click{
  text-decoration:none;
}
#seleccion-click1{
padding: 10px 120px;
color: black;
border-color: black;
border-style: solid;
background-color: white;
text-decoration:none;
}

#seleccion-click1:hover{
  background-color: #72FEFFFF;
  transition: all 0.6s;
}


