
/* ---------VARIABLES----------- */

:root{
  /* ----------COLORES------- */
  --white-color: #FCF4EC;
  --blue-color:#007bff;
  --gray-color:#DCDCDC;
  


  /*-------BORDER COLORS---- */
  --blue-border:#007bff;


  /*-------RED GET BACK---- */
  --getback-color:#FC7C74;


  /*-------COLOR-TITLE---- */
  --color-title:#38aca0;

  /* --------BOX SHADOW-------- */
  --box:0px 0 10px 4px var(--border-white-color);
}


  /* ------------------------- */

	@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
	


body{
	background-color: var(--white-color);
	font-family: 'Poppins', sans-serif;
}


/* --------FORMULARIOS ----------------- */

input,button{
  height: 35px;
  border-radius: 24px;
  outline: none;

}

.box input, .box button{
  width: 100%;

}

.box form input{
  display: block;
  margin: 20px auto;
  border:0px;
  text-align: center;
  background: none;
  border: 2px solid var(--blue-color);
  
  outline: none;
}

.box{
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: solid 1px var(--gray-color);
  text-align: center;
}

.box  button{
  border:none;
  color: var(--blue-color);
  background-color: var(--gray-color);
}

.box  button:hover{
  background-color: var(--blue-color);
  color: var(--white-color);
}


/* --------H2----------------- */



h1,h2{
  text-transform: uppercase;
  font-weight: 500;
}

/* --------END H2 ----------------- */


/*
form input, form textarea{
display: block;    
} 
*/

/* --------TABLAS ----------------- */


.tabla_datos{
	margin: auto;
	width: 80%;
	border-collapse: collapse;
}

#datos{
	overflow-x:auto;
}


th, td {
  border: solid 1px var(--gray-color);
  padding: 10px;
}


thead{
	background-color: var(--blue-color);
  border: solid 2px var(--blue-border));
	color: var(--white-color);
}

a{
  text-decoration: none;

}


 /* ------------BUTTONS--------------- */

.btn{
  border:none;
  background-color: var(--blue-color);
  padding: 10px;
  margin-bottom:1%; 
}

.btn:hover{
  color: var(--black-color);
}

.succes{
  background-color: var(--gray-color);
}
.danger{
  background-color: var


  (
  /*-------RED GET BACK---- */
    --getback-color);
}

.danger a{
  color: var(--white-color);

}

 /* ----------SEARCH--------------- */

.search{
  text-align: center;
}


.search input{
  width: 40%;
  height: 40px;
  border: solid 1px black;

  border: 1px dotted #999;
    border-radius: 0;

  -webkit-appearance: none;


}