
/* ---------VARIABLES----------- */

:root{
  /* ----------COLORES------- */
  --green-color:#288279;
  --white-color: #FCF4EC;
  --blue-color:#497198;
  --gray-color:#DCDCDC;


  /*-------BTN SUCCESS---- */
  --button-succes-color:#F4F4F4FF;
  --button-danger-color:#F4F4F4FF;


  /*-------COLOR-TITLE---- */
  --color-title:#38aca0;

  /* --------BOX SHADOW-------- */
  --box:0px 0 10px 4px var(--border-white-color);
}


  /* ------------------------- */

	@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
	



body{
	background-color: #FCF4EC;
}

.form{
	text-align: center;
}


.form input{
	width: 40%;
	height: 40px;
	border: solid 1px black;

 	border: 1px dotted #999;
  	border-radius: 0;

  -webkit-appearance: none;


}

.tabla_datos{
	margin: auto;
	width: 80%;
	border-collapse: collapse;
}

#datos{
	overflow-x:auto;
}


th, td {
  border: solid 1px #000000;
  padding: 10px;
  font-size:16px;
  background-color: ghostwhite;
  color: black;
}


thead{
	background-color: #497198;
	color: var(--white-color);
}

