@import url('fonts.css');
/*Consulta de notas*/

#datos{
  margin:auto;
  z-index: 1;
}

.tabla_datos {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  background-color:black;
}

.tabla_datos tbody{
  background-color: white;
  border:3px solid black;
}

.firstrow td{
  font:16px 'robotoslab';
  padding: 0.3em;
}


/*Registro Notas/Estudiantes*/

.registro_estudiante{
  text-align:center;
}

.form_student{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5,80px);
}

.form_student select{
  width: 400px;
  height: 40px;
}

.form_student label{
  font:19px 'robotoslab';
  margin-top:11px;
}

.reg-student{
  width: 67%;
  padding-right: 12%;
  height: 45%;
  font-size: 20px;
}

.button input{
  position: absolute;
  margin-top: -30px;
  margin-right: auto;
  margin-left:auto;

}
